<div class ="user">
  <div class ="user__login">
    <div class ="user__login--left">
      <h2>Log in</h2>
      <%= render "devise/shared/links" %>
    </div>
    <div class ="user__login--right">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="field">
          <%= f.submit "Log in", class:"form__btn" %>
        </div>
      <% end %>
      <div class="field">
        <%= link_to 'ゲストユーザーログイン', users_guest_sign_in_path, method: :post, class:"form__btn" %>
      </div>
    </div>
  </div>
</div>