<div class ="wrapper">
  <div class ="side-bar">
    <%= render "shared/side-bar" %>
  </div>
  <div class ="post">
    <div class ="post__show">
      <h1>
        <%= @post.title %>
      </h1>
      <div class="post__edit">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to "編集", edit_post_path(@post.id), class:"form__btn" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"form__btn" %>
        <% end %>
      </div>
      <div class ="post__detail">
        投稿日時：<%= @post.created_at %>
      </div>
      <div class ="post__text">
        <%= simple_format @post.content %>
      </div>
      <div class ="post__detail">
        カテゴリー
        <a href=“#”><%= @post.category.name%></a>
      </div>
    </div>
    <div class ="comment">
      <% if user_signed_in? %>
        <%= form_with model: [@post, @comment], local: true do |f|%>
          <div class ="comment__field">
            <div class ="comment__title">
              <%= f.label :content, "コメント", class: "comment__title" %>
            </div>
            <div class ="comment__form">
              <%= f.text_field :content %>
            </div>
            <%= f.submit "コメントする", class:"form__btn" %>
          </div>
        <% end %> 
      <% end %>
      <ul class ="comment__lists">
        <% @comments.each do |comment| %>
          <li class ="comment__list">
            <%= link_to comment.user.nickname, user_path(comment.user_id), class:"form__btn" %>
            <%= comment.content %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>